@import 'variables';
@import 'mixins';

.card{
    padding: 20px;
    @include card('../images/bg-card-front.png');
    @include position(126px, 15px, 187px, 167px);
    letter-spacing: 2px;
    z-index: 1;
    &__logo{
        width: 55px;
        margin-bottom: 30px;
    }
    &__numbers{
        margin-bottom: 15px;
    }
    &__data{
        display: flex;
        justify-content: space-between;
        font-size: .6em;
        font-family: $Font;
        text-transform: uppercase;
    }
    @media (min-width: 1115px){
        &__logo{
            width: 85px;
            margin-bottom: 70px;
        }
        &__numbers{
            font-size: 1.6em;
            margin-bottom: 25px
        }
        &__data{
            font-size: .8em;
            width: 380px
        }
    }
}

.card__back{
    @include card('../images/bg-card-back.png');
    @include position(38px, 70px, 470px, 260px);
    letter-spacing: 2px;
    &-cvc{
        text-align: right;
        margin: 49px 11px 0px 14px;
        font-size: .7em;
        @media (min-width: 1115px){
            font-size: 1em;
            margin: 89px 28px 0;
        }
    }
}